* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", Sans-serif;
}

body {
    background: #01a654;
}

.wrap {
    max-width: 1100px;
    margin: auto;
}

.wrapp {
    max-width: 1100px;
    margin: auto;
}

menu {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 150px;
    outline: 2px #fff solid;
}

.menu-item a img {
    padding-top: 15px;
    width: 24px;
}

.hero {
    margin-top: 30px;
    display: flex;

}

.pola {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pola .hero-h {
    font-size: 52px;
}

.pola .hilite {
    display: block;
    text-align: center;
    font-size: 64px;
    color: #fff;
}

.pola img {
    width: 300px;
}

.content {
    background: #fff;
    border-top: 3px #000 solid;
    border-bottom: 3px #000 solid;
    padding: 20px 0;
}

.games {
    display: flex;
    justify-content: center;
}

.gimg img {
    width: 250px;
    height: 275px;
    padding: 15px;
}

.hed-cent {
    margin: 40px 0;
    text-align: center;
}

.tekst {
    margin: 30px 0px;
    text-align: center;
}

.card {
    margin: 0 20px;
}

.first-foot {
    padding-top: 20px;
    color: #fff;
}






@media (max-width: 1024px) {
    .menu {
        padding: 20px;
    }

    .map img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .gimg img {
        width: 190px;
        height: 250px;
        padding: 5px;
    }
}

@media (max-width: 425px) {
    .gimg img {
        width: 100px;
        height: 135px;
        padding: 5px;
    }

    .hero {
        display: block;
    }

    .pola {
        width: 100%;
        display: block;
    }

    .pola .hilite {
        display: contents;
        text-align: center;
        font-size: 64px;
        color: #fff;
    }
}